<%# app/views/pages/projects.html.erb %>
<!DOCTYPE html>
<html>
<head>
  <title>My Projects</title>
  <%= csrf_meta_tags%>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
<div class="projects-container">
  <div class="projects-container">
    <h2>Featured Projects</h2>
    <% if @projects.present? %>
      <% @projects.each do |project| %>
        <div class="project mb-4">
          <h3><%= project.title %></h3>
          <% if project.description.present? %>
            <p><%= project.description %></p>
          <% else %>
            <p>No description available.</p>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>No projects available.</p>
    <% end %>
    <div>
  <footer>
    <p>&copy; <%= Time.current.year %> Brenda Rop. All rights reserved.</p>
  </footer>
</body>
</html>
